.taskinfo {
  padding: 20px;
  width: 70%;
  margin: auto;
  margin-bottom: 20px;
  background: #f1f1f1;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  box-shadow: 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.taskinfo:hover {
  transform: scale(1.005);
  box-shadow: 8px 8px rgba(0, 0, 0, 0.1);
}

.category {
  background: rgba(0, 0, 0, 0.03);
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
}
